@import "tailwindcss";

:root {
  --background: #ececec;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

button,
input {
  border-radius: 0;
}

::selection {
  background: #171717;
  color: #ececec;
}
